<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron"> <!--bootstrap에서 제공하는 컴포넌트 jumbotron사용-->
        <h1>커뮤니티</h1>
        <P>여러분의 의견과 지역소식을 나눠주세요</p>
      </div>

    </div>
  </body>
</html>